<div class="container-fluid">
  <div class="row">
    <%= render "partials/flash" %>
    <div class="col-md-8"></div>
      <div class="col-md-4">
        <ul class="nav nav-pills">
        <% if @current_user %>
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="/logout">Logout</a></li>
          <li role="presentation"><a href="#"><%= @current_user.username%></a></li>
        <% else %>
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="/login">Login</a></li>
          <li role="presentation"><a href="/signup">Signup</a></li>
          <li role="presentation"><a href="#"><%= @current_user.username%></a></li>
        <% end %>
        </ul>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1>Main</h1>
    <p><%= link_to 'Course', courses_path %></p>
    <p><%= link_to 'Recipe', recipes_path %></p>
    <p><%= link_to 'Ingredients', recipes_path %></p>

  </div>
</div>
